{% extends "base.html" %}
{% block content %}
<div class="row">
        <form method="post" class="col s12" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input name="name" type="text" class="validate" required>
                    <label for="name">Your Name</label>
                </div>
                <div class="input-field col s12 m6">
                    <input name="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input name="date" id="date" type="date" class="validate" required>
                    <label for="date">Date</label>
                </div>
                <div class="input-field col s12 m6">
                    <select name="time">
                        <option value="select">Select a time</option>
                        <option value="00:00">12:00 AM</option>
                        <option value="00:30">12:30 AM</option>
                        <option value="01:00">1:00 AM</option>
                        <option value="01:30">1:30 AM</option>
                        <option value="02:00">2:00 AM</option>
                        <option value="02:30">2:30 AM</option>
                        <option value="03:00">3:00 AM</option>
                        <option value="03:30">3:30 AM</option>
                        <option value="04:00">4:00 AM</option>
                        <option value="04:30">4:30 AM</option>
                        <option value="05:00">5:00 AM</option>
                        <option value="05:30">5:30 AM</option>
                        <option value="06:00">6:00 AM</option>
                        <option value="06:30">6:30 AM</option>
                        <option value="07:00">7:00 AM</option>
                        <option value="07:30">7:30 AM</option>
                        <option value="08:00">8:00 AM</option>
                        <option value="08:30">8:30 AM</option>
                        <option value="09:00">9:00 AM</option>
                        <option value="09:30">9:30 AM</option>
                        <option value="10:00">10:00 AM</option>
                        <option value="10:30">10:30 AM</option>
                        <option value="11:00">11:00 AM</option>
                        <option value="11:30">11:30 AM</option>
                        <option value="12:00">12:00 PM</option>
                        <option value="12:30">12:30 PM</option>
                        <option value="13:00">1:00 PM</option>
                        <option value="13:30">1:30 PM</option>
                        <option value="14:00">2:00 PM</option>
                        <option value="14:30">2:30 PM</option>
                        <option value="15:00">3:00 PM</option>
                        <option value="15:30">3:30 PM</option>
                        <option value="16:00">4:00 PM</option>
                        <option value="16:30">4:30 PM</option>
                        <option value="17:00">5:00 PM</option>
                        <option value="17:30">5:30 PM</option>
                        <option value="18:00">6:00 PM</option>
                        <option value="18:30">6:30 PM</option>
                        <option value="19:00">7:00 PM</option>
                        <option value="19:30">7:30 PM</option>
                        <option value="20:00">8:00 PM</option>
                        <option value="20:30">8:30 PM</option>
                        <option value="21:00">9:00 PM</option>
                        <option value="21:30">9:30 PM</option>
                        <option value="22:00">10:00 PM</option>
                        <option value="22:30">10:30 PM</option>
                        <option value="23:00">11:00 PM</option>
                        <option value="23:30">11:30 PM</option>
                    </select>
                    <label>Time</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>
                        Below are a place to import two files. If your show is one complete file, then only upload one file. If you split your show in half so the robot can import top-of-hour announcements, upload two files.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File 1</span>
                            <input type="file" name="file1" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <div class="input-field col s12 m6">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File 2</span>
                            <input type="file" name="file2">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
                </div>
            </div>
        </form>
        <div class="row">
          <div class="s12">
            <a href="/recording/view">View all scheduled recordings</a>
          </div>
        </div>

 </div>
 <script>
 flatpickr(document.getElementById("date"));
 document.addEventListener('DOMContentLoaded', function() {
     var elems = document.querySelectorAll('select');
     var instances = M.FormSelect.init(elems, {});
   });
</script>
      {% endblock %}
