{% extends "base.html" %}
{% block content %}
<div class="row">
  <form method="post" class="col s12" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input name="name" type="text" class="validate" required>
                    <label for="name">Your Name</label>
                </div>
                <div class="input-field col s12 m6">
                    <input name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4">
                    <select name="day">
                        <option value="6">Sunday</option>
                        <option value="0">Monday</option>
                        <option value="1">Tuesday</option>
                        <option value="2">Wednesday</option>
                        <option value="3">Thursday</option>
                        <option value="4">Friday</option>
                        <option value="5">Saturday</option>
                    </select>
                    <label>Day</label>
                </div>
                <div class="input-field col s12 m4">
                    <select name="starttime">
                        <option value="select">Select a time</option>
                        <option value="000">12:00 AM</option>
                        <option value="030">12:30 AM</option>
                        <option value="100">1:00 AM</option>
                        <option value="130">1:30 AM</option>
                        <option value="200">2:00 AM</option>
                        <option value="230">2:30 AM</option>
                        <option value="300">3:00 AM</option>
                        <option value="330">3:30 AM</option>
                        <option value="400">4:00 AM</option>
                        <option value="430">4:30 AM</option>
                        <option value="500">5:00 AM</option>
                        <option value="530">5:30 AM</option>
                        <option value="600">6:00 AM</option>
                        <option value="630">6:30 AM</option>
                        <option value="700">7:00 AM</option>
                        <option value="730">7:30 AM</option>
                        <option value="800">8:00 AM</option>
                        <option value="830">8:30 AM</option>
                        <option value="900">9:00 AM</option>
                        <option value="930">9:30 AM</option>
                        <option value="1000">10:00 AM</option>
                        <option value="1030">10:30 AM</option>
                        <option value="1100">11:00 AM</option>
                        <option value="1130">11:30 AM</option>
                        <option value="1200">12:00 PM</option>
                        <option value="1230">12:30 PM</option>
                        <option value="1300">1:00 PM</option>
                        <option value="1330">1:30 PM</option>
                        <option value="1400">2:00 PM</option>
                        <option value="1430">2:30 PM</option>
                        <option value="1500">3:00 PM</option>
                        <option value="1530">3:30 PM</option>
                        <option value="1600">4:00 PM</option>
                        <option value="1630">4:30 PM</option>
                        <option value="1700">5:00 PM</option>
                        <option value="1730">5:30 PM</option>
                        <option value="1800">6:00 PM</option>
                        <option value="1830">6:30 PM</option>
                        <option value="1900">7:00 PM</option>
                        <option value="1930">7:30 PM</option>
                        <option value="2000">8:00 PM</option>
                        <option value="2030">8:30 PM</option>
                        <option value="2100">9:00 PM</option>
                        <option value="2130">9:30 PM</option>
                        <option value="2200">10:00 PM</option>
                        <option value="2230">10:30 PM</option>
                        <option value="2300">11:00 PM</option>
                        <option value="2330">11:30 PM</option>
                    </select>
                    <label>Start</label>
                </div>
                <div class="input-field col s12 m4">
                    <select name="endtime">
                        <option value="select">Select a time</option>
                        <option value="000">12:00 AM</option>
                        <option value="030">12:30 AM</option>
                        <option value="100">1:00 AM</option>
                        <option value="130">1:30 AM</option>
                        <option value="200">2:00 AM</option>
                        <option value="230">2:30 AM</option>
                        <option value="300">3:00 AM</option>
                        <option value="330">3:30 AM</option>
                        <option value="400">4:00 AM</option>
                        <option value="430">4:30 AM</option>
                        <option value="500">5:00 AM</option>
                        <option value="530">5:30 AM</option>
                        <option value="600">6:00 AM</option>
                        <option value="630">6:30 AM</option>
                        <option value="700">7:00 AM</option>
                        <option value="730">7:30 AM</option>
                        <option value="800">8:00 AM</option>
                        <option value="830">8:30 AM</option>
                        <option value="900">9:00 AM</option>
                        <option value="930">9:30 AM</option>
                        <option value="1000">10:00 AM</option>
                        <option value="1030">10:30 AM</option>
                        <option value="1100">11:00 AM</option>
                        <option value="1130">11:30 AM</option>
                        <option value="1200">12:00 PM</option>
                        <option value="1230">12:30 PM</option>
                        <option value="1300">1:00 PM</option>
                        <option value="1330">1:30 PM</option>
                        <option value="1400">2:00 PM</option>
                        <option value="1430">2:30 PM</option>
                        <option value="1500">3:00 PM</option>
                        <option value="1530">3:30 PM</option>
                        <option value="1600">4:00 PM</option>
                        <option value="1630">4:30 PM</option>
                        <option value="1700">5:00 PM</option>
                        <option value="1730">5:30 PM</option>
                        <option value="1800">6:00 PM</option>
                        <option value="1830">6:30 PM</option>
                        <option value="1900">7:00 PM</option>
                        <option value="1930">7:30 PM</option>
                        <option value="2000">8:00 PM</option>
                        <option value="2030">8:30 PM</option>
                        <option value="2100">9:00 PM</option>
                        <option value="2130">9:30 PM</option>
                        <option value="2200">10:00 PM</option>
                        <option value="2230">10:30 PM</option>
                        <option value="2300">11:00 PM</option>
                        <option value="2330">11:30 PM</option>
                    </select>
                    <label>End</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m8">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" name="file" required>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <div class="input-field col s12 m2">
                    <label>
                        <input name="clean" type="checkbox" value="clean"/>
                        <span>This playlist is clean</span>
                    </label>
                </div>
                <div class="input-field col s12 m2">
                    <label>
                        <input name="replace" type="checkbox" value="replace" checked/>
                        <span>Replace any rotations at this time</span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
                </div>
            </div>
        </form>
        <div class="row">
          <div class="s12">
            <a href="/rotation/view">View all scheduled rotations</a>
          </div>
        </div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, {});
    });
  </script>
 </div>
      {% endblock %}
